name: Release

on:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  contents: read
  deployments: write

jobs:
  deploy-cf:
    # needs: [tests]
    uses: ./.github/workflows/cf.yml@main
    secrets: inherit
    with:
      environment: Production
